body {
  background-color: black;
}
h1 {
  color: turquoise;
  font-size:large;
}
button {
  background-color: gray;
  color: black;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: sans-serif;
  font-size: medium;
  margin: 0;
}
